<% if (theme.addthis.enable){ %>
  <div class="sharing addthis_toolbox addthis_default_style">
    <% if (theme.addthis.facebook){ %>
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <% } %>
    <% if (theme.addthis.twitter){ %>
      <a class="addthis_button_tweet"></a>
    <% } %>
    <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <script src="http://s7.addthis.com/js/300/addthis_widget.js<% if (theme.addthis.pubid){ %>#pubid=<%= theme.addthis.pubid %><% } %>"></script>
<% } %>