// Color
color-background = #000
color-font = #333
color-meta = #999
color-border = #ccc
color-main01 = rgb(157, 97, 207)
color-main02 = rgb(40, 20, 105)
color-main03 = rgb(0, 150, 240)
color-main04 = rgb(0, 26, 77)

// Font
font-main = "Helvetica Neue", "Helvetica", Arial, sans-serif
font-serif = "Georgia", serif
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-title = "Pontano Sans", Helvetica Neue, Helvetica, Arial, sans-serif

@import url("//fonts.googleapis.com/css?family=Pontano+Sans");

font-icon = FontAwesome
font-icon-path = 'font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?#iefix) format('embedded-opentype'), url(font-icon-path.woff) format('woff'), url(font-icon-path.ttf) format('truetype'), url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}