#footer
  color rgba(255, 255, 255, 0.7)
  font-size 0.9em
  line-height 1.6
  margin-bottom 50px
  a
    color #fff
    &:hover
      text-decoration underline

  .social
    a
      display inline-block
      opacity 0.7
      width 16px
      height 16px
      margin-left 10px
      float left
      text-indent -9999px
      transition 0.3s
      background-position center
      background-repeat no-repeat
      &:hover
        opacity 1
      &.facebook
        background-image url(images/facebook.png)
      &.github
        background-image url(images/github.png)
      &.twitter
        background-image url(images/twitter.png)
      &.rss
        background-image url(images/rss.png)
      &.pinterest
        background-image url(images/pinterest.png)